.homestop-background {
    background-image:linear-gradient( rgba(72, 72, 77, 0.9), rgba(0, 0, 0, 0.5) ), url("../../images/NashvilleSkyline3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    height: 500px
}

.featuredhomes-title {
    text-align: center;
    padding-top: 3em;
    color: white;
    font-size: 4em
}

.cards-container {
    margin: 2em
}

.home-card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin: 1em;
}

.card-body {
    text-align: center;
    font-size: 20px;
}
