.carousel .thumb img {
    width: 100% !important;
}

.carousel .slide img {
    height: 100vh;
} 


.carousel-overlay {
    position: absolute;
    z-index: 1 !important;
    text-align: center;
    text-emphasis: italic ;
    top: 30%;
    width: 100%;
    
}

.carousel-title {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.801);
    color: rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-size: 100px;
}

.carousel-details {
    display: flex;
    justify-content: space-evenly;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 100%;
    font-style: italic;
}

.personal-profile-container {
    display: flex;
    flex-flow: column nowrap;
    background-image:linear-gradient( rgba(19, 19, 19, 0.6), rgba(0, 0, 0, 0.637) ), url("../../images/NashvilleHighRes.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    height: auto
}

.pp-top-container {
    display:flex;
    flex-flow: row wrap;
}

.angela-img-container {
    background-image:  url("../../images/AngelaPicture.jpg");
    width: 500px;
    height:500px;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 2em
}

.angela-profiletext-container {
    font-family: 'Raleway', sans-serif;
    width: 700px;
    margin-left: 2em;
    font-size: 1.3em;
    margin: 2em;
    color: white;
    text-align: left
}

.people-are-talking {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 2em;
}

.pat-title {
    width: 100%;
    text-align: center;
    margin-left: 2em
}

.snippets-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
}

.snippet-item {
    width: 300px;
    display: inline-grid;
    height: 80px;
    margin-left: 1em;
    margin-right: 1em;
    background: linear-gradient(140.42deg, #FED3CD 50.45%, #FFFFFF 106.68%);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    padding: .1em;
    justify-content: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253)
}

.readmore-button {
    height: 50px;
    background: none !important;
    border: 2px solid white !important;
    border-radius: 5px;
    transition: .2s ease-in
}

.readmore-button:hover, .readmore-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #FED3CD;
    transform: translateY(-0.25em);
}

.contactme-button {
    margin: 1em;
    margin-left: 4em;
    width: 20%;
    background:none !important;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.308);
    height: 75px;
    font-size: 30px !important;
    font-weight: bolder !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
    transition: .25s
}

.learnmore-button {
    background: none !important;
    border: 2px solid white !important;
    border-radius: 5px;
    transition: .25s;
}

.learnmore-button:hover, .learnmore-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #FED3CD;
    transform: translateY(-0.25em);
}

.communities-section-container {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5em;
    margin-right: 5em
}

.communities-title {
    margin-top: 3em;
    font-family: 'Raleway', sans-serif;
}

.communities {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.community {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 5px;
    margin: 1em
}


.community-title {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}


.ashton-link {
    text-decoration: none;
    color: white;
    font-weight: bold
}

.ashton-link:hover {
    text-decoration: none;
    color: rgb(147, 233, 255);
    font-weight: bold
}

/* Why Nashville */
.whynashville-container {
    background-image: linear-gradient( 90deg,rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9) ),url("../../images/nashvilledowntown.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 800px;
    padding: 2em;
    font-family: 'Raleway', sans-serif;
}

.whynashville-text-container {
    margin-top: 4em;
    margin-left: 5em;
    width: 50%;
    text-align: left;

}



/* Communities */

.Arrington {
    background-image: url("../../images/communities/Arrington.jpg");
}

.Arrington:hover {
    transform: scale(1.1);
}

.Brentwood {
    background-image: url("../../images/communities/Brentwood.jpg");
}

.Brentwood:hover {
    transform: scale(1.1);
}

.CollegeGrove {
    background-image: url("../../images/communities/CollegeGrove.jpg");
}

.CollegeGrove:hover {
    transform: scale(1.1);
}

.Franklin {
    background-image: url("../../images/communities/Franklin.jpg");
}

.Franklin:hover {
    transform: scale(1.1);
}

.MountJuliet {
    background-image: url("../../images/communities/MountJuliet.jpg");
}

.MountJuliet:hover {
    transform: scale(1.1);
}

.Murfreesboro {
    background-image: url("../../images/communities/Murfreesboro.jpg");
}

.Murfreesboro:hover {
    transform: scale(1.1);
}

.Nashville {
    background-image: url("../../images/communities/Nashville.jpg");
}

.Nashville:hover {
    transform: scale(1.1);
}

.Nolensville {
    background-image: url("../../images/communities/Nolensville.jpg");
}

.Nolensville:hover {
    transform: scale(1.1);
}

.SpringHill {
    background-image: url("../../images/communities/SpringHill.jpg");
}

.SpringHill:hover {
    transform: scale(1.1);
}

.ThompsonStation {
    background-image: url("../../images/communities/ThompsonStation.jpg");
}

.ThompsonStation:hover {
    transform: scale(1.1);
}