.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    background: linear-gradient(330deg, rgba(4, 3, 77) 70%, rgb(214, 214, 214) );
    color: white;
    height: auto;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
}


.footer-title {
    margin-top: 1em;
}
.contact-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.social-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 1em;
}

.remax-logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.remax-logo {
    background-image: url("../../images/RemaxAdvantage.jpg");
    height:100px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    margin: 2em
}

.footer-subitem {
    margin: .5em
}
