.testimonial-page-container {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Raleway', sans-serif;
}

.testimonialtop-background {
    background-image:linear-gradient( rgba(72, 72, 77, 0.9), rgba(0, 0, 0, 0.5) ), url("../../images/NashvilleSkyline2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    height: 500px
}

.testimonials-container {
    display: flex;
    flex-flow: row wrap;
    margin: 2em;
}

.text-container {
    width: 900px;
    text-align: left;
    font-size: 20px;
}

.angelapic-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
}

.angela-image-container2 {
    background-image:  url("../../images/AngelaPicture2.jpg");
    width: 580px;
    height: 880px;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-left: 2em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}

.testimonial-giver {
    font-weight: bold;
}

.testimonial-item {
    background-color: rgba(18, 183, 212, 0.274);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.336);
}
.externalreviews-container {
    
}

.zillow-container {
    display: flex;
    margin: 2em;
}

.zillow-button {
    background: none !important;
    border: 4px solid rgb(15, 12, 184) !important;
    color: rgb(15, 12, 184) !important;
    font-size: 20px !important;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 2em;
    padding: .5em;
    text-decoration: none !important;
    transition: .2s ease-in
}

.zillow-button:hover {
    background: rgb(15, 12, 184) !important;
    color: white !important;
    font-size: 20px !important;
    border-radius: 5px;
    margin-left: 2em;
    text-decoration: none !important;
}