.recognitiontop-background {
    background-image:linear-gradient( rgba(72, 72, 77, 0.9), rgba(0, 0, 0, 0.5) ), url("../../images/NashvilleSkyline2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    height: 500px
}

.recognition-page-container {
}

.media-container {
}

.magazine-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.awards-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.halloffame-container {
    margin: 2em
}

.yearawards-container {
    display: flex;
    flex-flow: row wrap;
    margin: auto
}

.yearaward-item {
    margin: 1em;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}